<footer class="bg-[#192545] py-20">
  <div class="max-w-4xl mx-auto text-center">
    <div class="flex justify-center gap-10 mb-10">
      <a
        href="https://www.linkedin.com/in/rendynyp/"
        target="_blank"
        class="w-16 h-16 rounded-full bg-[#2c3e5d] flex items-center justify-center hover:scale-110 transition"
      >
        <img
          src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/linkedin.svg"
          class="w-8 h-8 invert opacity-90"
        />
      </a>

      <a
        href="https://github.com/Renn1104"
        target="_blank"
        class="w-16 h-16 rounded-full bg-[#2c3e5d] flex items-center justify-center hover:scale-110 transition"
      >
        <img
          src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/github.svg"
          class="w-8 h-8 invert opacity-90"
        />
      </a>

      <a
        href="https://www.instagram.com/rendy_nyp/"
        target="_blank"
        class="w-16 h-16 rounded-full bg-[#2c3e5d] flex items-center justify-center hover:scale-110 transition"
      >
        <img
          src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/instagram.svg"
          class="w-8 h-8 invert opacity-90"
        />
      </a>

      <a
        href="mailto:rendy.pramudya30@gmail.com"
        class="w-16 h-16 rounded-full bg-[#2c3e5d] flex items-center justify-center hover:scale-110 transition"
      >
        <img
          src="https://cdn.jsdelivr.net/npm/simple-icons@v11/icons/gmail.svg"
          class="w-8 h-8 invert opacity-90"
        />
      </a>
    </div>

    <p class="text-gray-200 text-lg">Created by Rendy Nayogi Pramudya 🤍</p>

    <p class="text-gray-400 mt-3">©2026 All rights reserved</p>
  </div>
</footer>