<!-- <nav class="px-6 py-4 border-b border-white/10">
  <div class="container mx-auto">
    <span class="font-bold">Renn</span>
  </div>
</nav> -->

<nav
  class="fixed top-0 left-0 w-full z-50 bg-black/60 backdrop-blur border-b border-white/10"
>
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <h1 class="text-xl font-bold tracking-wide">
      RENN<span class="text-pink-500">.</span>
    </h1>

    <ul class="hidden md:flex gap-8 text-sm text-gray-300">
      <li><a href="#hero" class="hover:text-white transition">Home</a></li>
      <li><a href="#about" class="hover:text-white transition">About</a></li>
      <li>
        <a href="#education" class="hover:text-white transition">Education</a>
      </li>
      <li><a href="#skills" class="hover:text-white transition">Skills</a></li>
      <li>
        <a href="#projects" class="hover:text-white transition">Projects</a>
      </li>
      <li>
        <a href="#certificates" class="hover:text-white transition"
          >Certificates</a
        >
      </li>
    </ul>
  </div>
</nav>
